.filterContainer {
  display: flex;
  justify-items: center;
  padding: 0.8vh;
  width: fit-content;
  border: none;
  border-radius: 1vh;
  background-color: #ffffff70;
  filter: drop-shadow(2px 2px 2px #00000060);
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.iconContainer {
  display: flex;
  justify-items: centre;
}

.dropDown {
  margin-left: 10px;
  border: none;
  border-radius: 1vh;
  background-color: transparent;
  font-family: "Quicksand", sans-serif;
  font-size: 1vw;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  box-sizing: 100vw;
}

.dropDown:hover {
  cursor: pointer;
  background-color: #ffffff50;
}
